.App {
  height: 100vh;
  width: 100vw;
  background-color: #c0bcbc;
  display: grid;
  place-items: center;
}

.app_container {
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  background-color: rgb(232, 234, 237);
  padding: 32px 0;
}

.app_todo_container {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
